.DynamicPage{
  margin: 0 auto 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  width: vw 100;
  height: 77vh;
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-items: center;
}

/* **************************************************************** */
/* QUIZ */

.QuizParent{
  display: flex;
  flex-direction: row;
}

/* Leaderboard */

.QuizProgress{
  width: 250px;
  height: 468px;
  margin-top: 73px;
  margin-right: 50px;
}

.QuizProgress h5{
border: solid 1px darkgray;
border-radius: 5px;
margin-bottom: 5px;
padding: 2px;
text-align: center;
font-family: inherit;
font-weight: 400;
}

.Win{
  background-color:darkgreen;
}

.Checkpoint{
  background-color: chocolate;
}

.CurrentRound{
  box-shadow: 0 0 10px 1.5px #f701ff;
}

/* Question */

.QuestionLayout{
  border: 1px solid white;
  padding: 4px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.QuestionBar{
  margin-top: 5px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:darkslategray;
}

.Question{
  text-align: left;
  display: inline-block;
  width: 620px;
  padding-left: 15px;
}

.QuestionNumber{
  text-align: right;
  display: inline-block;
  width: 60px;
  padding-right: 5px;
}

.QuestionImage{
  margin-bottom: 8px;
  position: relative;
}

    #AskTheAudienceWindow{
      z-index: 2;
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.493);
      width: 680px;
      height: 330px;
      border-radius: 5px;
      visibility: hidden;
    }

    #PhoneAFriendWindow{
      z-index: 2;
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.493);
      width: 680px;
      height: 330px;
      border-radius: 5px;
      visibility: hidden;
    }

.AnswerBox{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.AnswerTopRow{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.AnswerBottomRow{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Answer{
  width: 345px;
  height: 50px;
  text-align: center;
  padding: 0px;
}

.Hide{
  visibility: hidden;
}

.Answer button{
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  color: inherit;
  font-size: 18px;
  background-color:darkgray;
}

.Answer button:hover{
  cursor: pointer;
}

/* Lifelines */

.QuizOptions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 350px;
  margin-top: 73px;
  margin-left: 50px;
  border: solid 0px white;
}

.Lifeline{
  width: 180px;
  height: 30px;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  
  margin-bottom: 10px;
  font-weight: 300;
}

.Available{
  background-color: rgba(151, 103, 197, 0.452);
}

.Available:hover{
  cursor: pointer;
}

.Unavailable{
  background-color:dimgrey;
}

.Unavailable:hover{
  cursor:not-allowed;
}

.Quit{
  width: 80px;
  height: 30px;
  font-family: inherit;
  font-size: 18px;
  margin-bottom: 10px;
}

.Quit:hover{
  cursor: pointer;
}