*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  color: white;
  background: rgb(22,17,98);
  background: radial-gradient(circle, rgba(22,17,98,1) 0%, rgba(30,5,145,1) 47%, rgba(61,80,221,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
}

/* NavBar */

.Navbar, .Footer{
  width: 100vw;
  background: rgb(22,17,98);
  background: radial-gradient(circle, rgba(22,17,98,1) 0%, rgba(30,5,145,1) 47%, rgba(61,80,221,1) 100%);
  /* background-color: green; */
}

.Navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  border-bottom: 3px outset #5877E3;
}

.LogoContainer{
  padding-top: 5px;
}

.LinksBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  visibility:visible
}

.LinksBar button{
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
}

.LinksBar button:hover{
  cursor: pointer;
}

/* PAGE */

.Title{
  margin-bottom: 10px;
  text-align: center;
}

.PageMessage{
  margin-bottom: 10px;
  color: orange;
  font-weight: 600;
  text-align: center;
}
/* FOOTER */

.Footer {
  border-top: 3px outset #5877E3;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  font-family: inherit;
  font-size: 12px;
}

/* LANDING PAGE */

.LandingPage{
  margin: 0 auto 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  width: 1000px;
  height: 77vh;
  display: flex;
  flex-direction: column;
  justify-content:left;
  align-items: center;
}