@media screen and (max-width: 800px) {

}

@media screen and (min-width: 801px) {
  .QuizLayout{
    display:grid;
    width: 100vw;
    height: 75vh;
    grid-template-columns: minmax(150px, auto) minmax(500px, 700px) minmax(150px, auto);
    grid-template-rows: 60px 60px 400px 200px;
    row-gap: 10px;
    column-gap: 0px;
  }

  .GridTitleBefore{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .GridTitle{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .GridTitleAfter{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  /* EMPTY */
  .QuestionBefore{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  /* Question details */
  /* ////////////////////////////////////////////////////////////// */

  .Question{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: row;
    background-color:darkslategray;
  }

          .QuestionLayout{
            border: 1px solid white;
            width: 100%;
            padding: 4px;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            align-items:center;
            justify-content: space-between;
          }

          .QuestionWord{
            text-align: left;
            display: inline-block;
            padding-left: 5px;
          }
          
          .TheQuestion{
            text-align: left;
            display: inline-block;
            padding-left: 5px;
          }
          
          .QuestionNumber{
            text-align: right;
            display: inline-block;
            padding-right: 10px;
            width: 70px;
          }

  /* EMPTY */
  .QuestionAfter{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  /* Leaderboard / Progress */
  /* ////////////////////////////////////////////////////////////// */

  .Progress{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    display: flex;
    flex-direction: row;
    justify-content: right;
  }

        .QuizProgress{
          width: 170px;
          margin-right: 5%;
        }

        .QuizProgress h5{
        border: solid 1px darkgray;
        border-radius: 5px;
        margin-top: 0PX;
        margin-bottom: 5px;
        padding: 2px;
        text-align: center;
        font-family: inherit;
        font-weight: 400;
        }

        .Win{
          background-color:darkgreen;
        }

        .Checkpoint{
          background-color: chocolate;
        }

        .CurrentRound{
          box-shadow: 0 0 10px 1.5px #f701ff;
        }

  /* Question image */
  /* ////////////////////////////////////////////////////////////// */

  .Image{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    overflow: hidden;
  }

      .QuestionImageContainer{
        position: relative;
      }
  
      /* .QuestionImageContainer image{
        object-fit: cover;
      } */
  
      #AskTheAudienceWindow{  
        z-index: 2;
        color: black;
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        width: 680px;
        height: 380px;
        border-radius: 5px;
        visibility: hidden;
      }
  
      #PhoneAFriendWindow{
        z-index: 2;
        color: black;
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        width: 680px;
        height: 380px;
        border-radius: 5px;
        visibility: hidden;
      }
  
      .LifelineWindow .FirstRow{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 15px;
      }
  
      .LifelineWindow .Title {
        display: inline;
        font-weight: 700;
      }

      .LifelineWindow .Close, button{
        display: inline;
        padding-left: 3px;
        padding-top: 1px;
        padding-right: 2px;
      }

      .BarChart{
        width: 660px;
        height: 280px;
      }

  /* Lifelines */
  /* ////////////////////////////////////////////////////////////// */

  .Lifelines{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

          .QuizOptions{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 5%;
          }
          
          .Lifeline{
            min-width: 150px;
            height: 30px;
            color: inherit;
            font-family: inherit;
            font-size: 14px;
            margin-bottom: 10px;
            font-weight: 300;
          }
          
          .Available{
            background-color: rgba(151, 103, 197, 0.452);
          }
          
          .Available:hover{
            cursor: pointer;
          }
          
          .Unavailable{
            background-color:dimgrey;
          }
          
          .Unavailable:hover{
            cursor:not-allowed;
          }
          
          .Quit{
            width: 80px;
            height: 30px;
            font-family: inherit;
            font-size: 18px;
            margin-bottom: 10px;
          }
          
          .Quit:hover{
            cursor: pointer;
          }

  /* Question answers */
  /* ////////////////////////////////////////////////////////////// */

  .Answers{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

          .AnswerBox{
            width: 100%;
            display: flex;
            flex-direction: column;
          }
          
          .AnswerTopRow{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            margin-bottom: 10px;
          }
          
          .AnswerBottomRow{
            display: flex;
            flex-direction: row;
            justify-content:space-between;
          }
          
          .Answer{
            width: 345px;
            height: 50px;
            text-align: center;
            padding: 0px;
          }
          
          .Hide{
            visibility: hidden;
          }
          
          .Answer button{
            background: none;
            border: none;
            width: 100%;
            height: 100%;
            color: inherit;
            font-size: 18px;
            background-color:darkgray;
          }
          
          .Answer button:hover{
            cursor: pointer;
          }

  /* EMPTY */
  .AnswersAfter{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }

}