/* **************************************************************************** */
/* Screen size of 800px or less - STANDARD LAYOUT */
/* **************************************************************************** */

@media screen and (max-width: 800px) {

    .StandardLayout{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /* HOMEPAGE */
    /* ************************************************ */
    .FilterSortBar{
        margin-bottom: 10px;
        padding-left: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 350px;   
    }

    .FilterSortBar select{
        font-size: 10px;
    }

    .AllQuizzes{
        display: flex;
        flex-direction: row;
        width: 300px;
    }

    .QuizCards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .QuizCardComponent{
        min-height: 120px;
        width: 120px;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        background-color: rgba(44, 75, 177, 0.801);
        text-align: center;
    }
    
    .QuizCardComponentImage{
        width: 110px;
        height: 70px;
        position: relative;
    }


    /* LEADERBOARD */
    /* ************************************************ */
    .Leaderboard button {
        display: inline;
    }

    .Leaderboard h5{
        margin-bottom: 3px;
    }

    
    /* LOSE */
    /* ************************************************ */
    .Result{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Result p{
        text-align: center;
        margin-top: 15px;
    }

}

/* **************************************************************************** */
/* Screen size of 801px or more - STANDARD LAYOUT */
/* **************************************************************************** */

@media screen and (min-width: 801px) {
        
    .StandardLayout{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    /* HOMEPAGE */
    /* ************************************************ */
    .FilterSortBar{
        display: inline;
        margin-bottom: 10px;
        padding-left: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        font-size: 12px;
    }

    .FilterSortBar select{
        font-size: 12px;
    }

    .AllQuizzes{
        display: flex;
        flex-direction: row;
    }

    .QuizCards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .QuizCardComponent{
        width: 200px;
        height: 200px;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        background-color: rgba(44, 75, 177, 0.801);
    }

    .QuizCardComponentImage{
        width: 190px;
        height: 140px;
        background-color: red;
        position: relative;
    }


    /* LEADERBOARD */
    /* ************************************************ */
    .Leaderboard button {
        display: inline;
    }

    .Leaderboard h5{
        margin-bottom: 3px;
    }


    /* LOSE */
    /* ************************************************ */
    .Result{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Result p{
        text-align: center;
        margin-top: 15px;
    }
}