.StaticPage{
  display: flex;
  flex-direction: column;
  max-width: 900px;
}

/* .Title (see global .css) */

/* .PageMessage (see global .css) */

      /* HOMEPAGE */
      /* ************************************************ */
      
      .FilterSortBar{
        display: inline;
        margin-bottom: 10px;
        padding-left: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        font-size: 12px;
      }

      .FilterSortBar select{
        font-size: 12px;
      }

      .AllQuizzes{
        display: flex;
        flex-direction: row;
      }

      .QuizCards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .QuizCardComponent{
        width: 200px;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        background-color: rgba(44, 75, 177, 0.801);
      }

      /* LEADERBOARD */
      /* ************************************************ */

      .Leaderboard button {
        display: inline;
      }

      .Leaderboard h5{
        margin-bottom: 3px;
      }

      /* LOSE */
      /* ************************************************ */

      .Result{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .Result p{
        text-align: center;
        margin-top: 15px;
      }